.wrapper {
    display: flex;
    align-items: center;
    cursor: pointer;
    &:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }
}
.avatar {
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.info {
}

.name {
    font-size: 15px;
    line-height: 22px;
    font-weight: 600;
    margin: 0;
}
.checkIcon {
    margin-left: 5px;
    font-size: 16px;
    color: #1cb3c7;
}
.username {
    font-size: 14px;
    color: rgba(22, 24, 35, 0.5);
    margin: 0;
}
