@import 'normalize.css';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700&display=swap');

:root {
    --primary: #f32c55;
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-Search-height: 46px;
    --text-color: #333;
    --black: black;
}
body {
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

button,
input {
    outline: none;
    border: none;
}
